In [ ]:
# TASK_2 DS003

In [ ]:
#Given store sales data, use Python to draw conclusions about how these stores are performing

In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('https://raw.githubusercontent.com/Tiamiyu1/Python-for-Data-Science-and-Analytics/main/Data/store_data.csv')

In [4]:
df

           week  storeA  storeB  storeC  storeD  storeE
0    2014-05-04    2643    8257    3893    6231    1294
1    2014-05-11    6444    5736    5634    7092    2907
2    2014-05-18    9646    2552    4253    5447    4736
3    2014-05-25    5960   10740    8264    6063     949
4    2014-06-01    7412    7374    3208    3985    3023
..          ...     ...     ...     ...     ...     ...
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

[200 rows x 6 columns]

In [5]:
# 1. Which store has the highest total sales for the final month of data?

In [6]:
df.tail(4).sum()

week      2018-02-042018-02-112018-02-182018-02-25
storeA                                       25127
storeB                                       24595
storeC                                       16447
storeD                                       22783
storeE                                        7787
dtype: object

In [7]:
# store A has the highest sales for the last month having 25127 sales

In [8]:
#2. Which store makes the most sales on average?

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
storeA,200.0,5865.480,2958.230318,137.0,3812.25,5713.5,7662.25,14403.0
storeB,200.0,6756.710,3601.339489,14.0,3884.50,6771.0,9350.50,15841.0
storeC,200.0,4942.105,1325.407768,927.0,4053.50,4962.5,5801.75,8293.0
storeD,200.0,5431.405,1183.111323,2276.0,4717.00,5382.0,6243.75,8190.0
storeE,200.0,2580.025,1725.651381,39.0,1235.00,2522.0,3574.25,7553.0

In [10]:
#STORE B MAKE THE MOST SALE ON AVERAGE

In [11]:
#3. Which store sells the most during the week of March 13th, 2016?

In [12]:
df[df['week'] =='2016-03-13']

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

In [13]:
# STORE D HAS THE HIHEST SALE

In [14]:
#4. In what week does store C make its worst sales?

In [63]:
mi = df.groupby('week')

In [68]:
mi

In [60]:
min.agg({'storeC':'min'}).min()

storeC    927.0
dtype: float64

In [69]:
# nibi ti olohun ran mi lowo de niyi

In [ ]:
#5. Which store has the most sales in the latest 3-month period?

In [25]:
df.tail(13).sum()

week      2017-12-032017-12-102017-12-172017-12-242017-1...
storeA                                                87591
storeB                                                79394
storeC                                                66538
storeD                                                75190
storeE                                                27334
dtype: object

In [ ]:
#store A has the highest sale